@mixin m-queries( $size: 375px ) {
  @media screen and ( max-width: $size ){
    @content;
  }
}

.layout__header {
  height: 100vh;
  margin: 0 10.5625rem;
  @include m-queries(1300px) {
    margin: 0 6.25rem;
  }
  @include m-queries(950px) {
    margin: 0 1.5625rem
  }
  @include m-queries(500px) {
    margin: 0 10px;
  }
  .header__content {
    height: 100%;
    display: flex;
    padding-top: 6.25rem;
    justify-content: space-between;
    align-items: center;
    @include m-queries(700px) {
      padding-top: 0;
      height: calc(100% - 52px)
    }
    .content__text {
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include m-queries(500px) {
        height: auto;
      }
      h1 {
        margin: 0;
        color: #f6f5f1;
        font-size: 3rem;
        font-weight: 800;
        width: 28.125rem;
        display: flex;
        flex-direction: column;
        @include m-queries(500px) {
          width: 100%;
          font-size: 75px;
        }
        @include m-queries(420px) {
          font-size: 3.625rem;
        }
        @include m-queries(350px) {
          font-size: 3rem;
        }
        span {
          background: linear-gradient(
            to left,
            #7000ff 40%,
            #8309ff 60%,
            #b30eff 80%,
            #7000ff 100%
          );
          background-size: 200% auto;
          background-clip: text;
          text-fill-color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 3rem;
          font-weight: 800;
          animation: gradient 2000ms linear infinite;
          @include m-queries(500px) {
            font-size: 75px;
          }
          @include m-queries(420px) {
            font-size: 3.625rem;
          }
          @include m-queries(350px) {
            font-size: 3rem;
          }
        }
      }
      @keyframes gradient {
        to {
          background-position: 200% center;
        }
      }
      div {
        p {
          width: 26.25rem;
          font-size: 1.25rem;
          line-height: 165%;
          @include m-queries(500px) {
            width: 100%;
            font-size: 18px;
          }
        }
        @include m-queries(500px) {
          margin: 1.25rem 0;
        }
      }
      .button {
        width: 10rem;
        @include m-queries(500px) {
          width: 100%;
        }
        button {
          width: 10rem;
          @include m-queries(500px) {
            width: 100%;
          }
        }
      }
    }
    .content__logo {
      display: flex;
      align-items: center;
      @include m-queries(768px) {
        display: none;
      }
      img {
        animation: movement 6s ease-in-out infinite;
        @include m-queries(1024px) {
          animation: 0; 
        }
      }
      @keyframes movement {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(-7.5rem);
        }
        100% {
          transform: translateX(0);
        }
      }
    }
  }
}
