@mixin m-queries( $size: 375px ) {
  @media screen and ( max-width: $size ){
    @content;
  }
}

.subtitles::before {
  content: "";
  background-color:#7000FF;
  width: 5.3125rem;
  height: 0.3125rem;
  margin-bottom: 1.25rem;
}
.subtitles {
  display: flex;
  flex-direction: column;
  h2 {
    color: #F6F5F1;
    font-weight: 700;
    font-size: 3rem;
    @include m-queries(500px) {
      margin-bottom: 1.5625rem;
    }
  }
}