@mixin m-queries( $size: 375px ) {
  @media screen and ( max-width: $size ){
    @content;
  }
}

.component__card {
  height: 16.25rem;
  width: 17.875rem;
  display: flex;
  flex-direction: column;
  transition: all 150ms ease;
  position: relative;
  border-radius: 0.9375rem;
  @include m-queries(1100px) {
    width: 226px;
    height: 200px;
  }
  @include m-queries(700px) {
    flex-direction: row-reverse;
    width: 100%;
    height: calc(50vh - 1.5625rem);
    margin-bottom: 1.5625rem;
  }
  @include m-queries(450px) {
    flex-direction: column;
    width: 100%;
    height: calc(50vh - 1.5625rem);
    margin-bottom: 1.5625rem;
  }
  .card__image {
    height: 9.375rem;
    width: 100%;
    border-radius: 0.9375rem 0.9375rem 0 0;
    transition: all 250ms ease;
    @include m-queries(1100px) {
      height: 110px;   
    }
    @include m-queries(700px) {
      height: auto;
      width: 60%;
      border-radius: 0 0.9375rem 0.9375rem 0;
    }
    @include m-queries(450px) {
      height: auto;
      width: 100%;
      border-radius: 0.9375rem 0.9375rem 0 0; 
    }
  }
  .card__button {
    height: 9.375rem;
    width: 100%;
    position: absolute;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 350ms ease;
    .button {
      button {
        width: 12.5rem;
        background-color: transparent !important;
        outline: 2px solid #F6F5F1;
      }
      button:hover {
        color: #0E0E0E;
        background-color: #F6F5F1 !important;
        outline: none;
      }
      button:active {
        background-color: #C2C1C2 !important;
        transform: scale(1.02);
      }
    }
    @include m-queries(700px) {
      height: auto;
    }
  }
  .card__text {
    background-color: #080808;
    border-radius: 0 0 0.9375rem 0.9375rem;
    height: calc(100% - 9.375rem);
    padding: 10px 18px;
    @include m-queries(1100px) {
      height: calc(100% - 110px)
    }
    @include m-queries(700px) {
      height: auto;
      width: 40%;
      border-radius: 0.9375rem 0 0 0.9375rem;
    }
    @include m-queries(450px) {
      padding: 25px 15px;
      width: 100%;
      border-radius: 0 0 0.9375rem 0.9375rem;
    }
    h3 {
      color: #F6F5F1;
      font-weight: 600;
      font-size: 1.5rem;
      @include m-queries(450px) {
        font-size: 1.875rem;
      }
    }
    p {
      font-size: 0.875rem;
      @include m-queries(450px) {
        font-size: 1.125rem;
      }
    }
  }
}
.component__card:hover .card__image {
  opacity: 0.08;
}
.component__card:hover .card__button {
  opacity: 1;
}