.layout__main {
  .main__section {
    height: 100vh;
    margin: 0 10.5625rem;
    display: flex;
  }
  #mainProjects {
    flex-direction: column;
    justify-content: center;
    .section__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        width: 25rem;
        font-size: 1.125rem;
        color: #d2d2ff;
      }
      .button {
        button {
          width: 15.9375rem;
        }
      }
    }
    .section__cards {
      display: flex;
      justify-content: space-between;
      margin: 4.5rem 0;
    }
  }
  #mainExperience {
    align-items: center;
    .section__content {
      height: auto;
      width: 100%;
      background-color: #0e0e0e;
      border-radius: 1.25rem;
      padding: 1.875rem 2.5rem;
      animation: background 5000ms ease infinite;
      @keyframes background {
        0% {
          box-shadow: 0 0 3.125rem #080808;
        }
        50% {
          box-shadow: 0 0 0.625rem #080808;
        }
        100% {
          box-shadow: 0 0 3.125rem #080808;
        }
      }
      .content__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.4375rem;
        .title__introduction {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      .content__timeline {
        color: white;
        .timeline__events {
          height: 0.3125rem;
          border-radius: 6.25rem;
          background: #080808;
        }
      }
      .content__text {
        width: 42.375rem;
        height: 11.25rem;
        margin: auto;
        padding: 1.875rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          color: #f6f5f1;
          font-size: 2.5rem;
        }
        p {
          i {
            color: #c2c1c2;
          }
        }
      }
      .button {
        button {
          width: 100%;
        }
      }
    }
  }
  #mainSkills {
    flex-direction: column;
    justify-content: center;
    .section__slider {
      width: 100%;
      padding: 1.875rem 2.5rem;
      border-radius: 1.25rem;
      background-color: #080808;
      .slider__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          width: 24.375rem;
          span {
            font-weight: 600;
          }
        }
      }
      .slider__carousel {        
        margin-top: 3.125rem; 
        display: flex;
        justify-content: space-between;
      }
    }
    .section__mantra {
      width: 100%;
      padding: 1.875rem 2.5rem;
      border-radius: 1.25rem;
      background-color: #080808;
      margin-top: 3.75rem;
      p {
        color: #f6f5f1 !important;
        text-align: center;
        font-size: 1.75rem;
        span {
          font-weight: 600;
        }
      }
      h3 {
        color: #f6f5f1;
        text-align: center;
        font-size: 2.75rem;
        margin-top: 2.8125rem;
      }
    }
  }
  #mainAbout {
    align-items: center;
    .section__text {
      width: 18.75rem;
      height: 33.125rem;
      padding: 0 2.5rem;
      background-color: #080808;
      border-radius: 1.25rem 0 0 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        margin: 1.875rem 0;
      }
      .button {
        button {
          width: 100%;
        }
      }
    }
    .section__image {
      width: calc(100% - 18.75rem);
      height: 33.125rem;
      border-radius: 0 1.25rem 1.25rem 0;
      object-fit: cover;
    }
  }
}
