@mixin m-queries( $size: 375px ) {
  @media screen and ( max-width: $size ){
    @content;
  }
}

.layout__main {
  .main__section {
    height: 100vh;
    margin: 0 10.5625rem;
    padding-top: 6.25rem;
    display: flex;
    @include m-queries(1300px) {
      margin: 0 6.25rem;
    }
    @include m-queries(950px) {
      margin: 0 1.5625rem
    }
    @include m-queries(500px) {
      margin: 0 0.625rem;
      padding-top: 0;
    }
  }
  #projects {
    flex-direction: column;
    justify-content: center;
    @include m-queries(700px) {
      height: auto;
    }
    .section__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include m-queries(500px) {
        flex-direction: column;
        align-items: start;
      }
      p {
        width: 25rem;
        font-size: 1.125rem;
        color: #d2d2ff;
        @include m-queries(500px) {
          font-size: 1.125rem;
          width: 100%;
        }
      }
      .button {
        @include m-queries(500px) {
          width: 100%;
        }
        button {
          width: 15.9375rem;
          @include m-queries(500px) {
            width: 100%;
          }
        }
      }
    }
    .section__cards {
      display: flex;
      justify-content: space-between;
      margin: 4.5rem 0;
      @include m-queries(1100px) {
        margin: 3.5rem 0;
      }
      @include m-queries(700px) {
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;
      }
    }
  }
  #experience {
    align-items: center;
    .section__content {
      height: auto;
      width: 100%;
      background-color: #0e0e0e;
      border-radius: 1.25rem;
      padding: 1.875rem 2.5rem;
      animation: background 5000ms ease infinite;
      @include m-queries(768px) {
        border-radius: none;
        animation: none;
        padding: 0;
      }
      @keyframes background {
        0% {
          box-shadow: 0 0 3.125rem #080808;
        }
        50% {
          box-shadow: 0 0 0.625rem #080808;
        }
        100% {
          box-shadow: 0 0 3.125rem #080808;
        }
      }
      .content__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.4375rem;
        @include m-queries(500px) {
          margin-bottom: 0;
          flex-direction: column;
        }
        .title__introduction {
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include m-queries(768px) {
            font-size: 1.125rem;
          }
        }
      }
      .content__experience {
        position: relative;
        @include m-queries(768px) {
          height: 17.5rem;
          padding: 0 15px;
          margin-top: 1.5625rem;
          display: flex;
          background-color: #080808;
          border-radius: 0.625rem;
        }
        .experience__timeline {
          color: white;
          @include m-queries(768px) {
            display: none;
          }
          .timeline__events {
            height: 0.3125rem;
            border-radius: 6.25rem;
            background: #080808;
          }
        }
        .experience__text {
          width: 42.375rem;
          height: 11.25rem;
          margin: auto;
          padding: 1.875rem 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include m-queries(1024px) { 
            width: auto;
            height: auto;
            margin: 0 6.25rem;
            padding: 0;
          }
          @include m-queries(768px) {
            width: 100%;
            margin: auto;
          }
          h3 {
            color: #f6f5f1;
            font-size: 2.5rem;
            @include m-queries(768px) {
              font-size: 1.875rem;
              font-weight: 600;
              margin-bottom: 1.25rem;
            }
          }
          p {
            i {
              color: #c2c1c2;
              @include m-queries(768px) {
                font-size: 1rem;
              }
            }
            @include m-queries(768px) {
              font-size: 1.125rem;
              margin-bottom: 0.5rem;
            }
          }
        }
        .text__prev, .text__next{
          position: absolute;
          top: 45%;
          @include m-queries(768px) {
            display: none;
          }
        }
        .text__next {
          right: 0;
        }
        .text__prev svg{
          transform: rotate(180deg);
        }
      }
      .button {
        button {
          width: 100%;
          @include m-queries(768px) {
            margin-top: 1.5625rem;
          }
        }
      }
    }
  }
  #skills {
    flex-direction: column;
    justify-content: center;
    .section__slider {
      width: 100%;
      padding: 1.875rem 2.5rem;
      border-radius: 1.25rem;
      background-color: #080808;
      overflow-x: hidden;
      @include m-queries(768px) {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
      }
      .slider__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include m-queries(768px) {
          flex-direction: column;
          align-items: start;
        }
        p {
          width: 24.375rem;
          @include m-queries(768px) {
            width: 100%;
            font-size: 1.125rem;
          }
          span {
            font-weight: 600;
          }
        }
      }
      .slider__carousel {        
        margin-top: 3.125rem; 
        display: flex;
        justify-content: space-between;
        @include m-queries(768px) {
          overflow-x: hidden;
          border-radius: 0.625rem;
          background-color: #080808;
          height: auto;
          padding: 21px 15px;
        }
      }
    }
    .section__mantra {
      width: 100%;
      padding: 1.875rem 2.5rem;
      border-radius: 1.25rem;
      background-color: #080808;
      margin-top: 3.75rem;
      @include m-queries(768px) {
        padding: 21px 15px;
        border-radius: 0.625rem;
      }
      p {
        color: #f6f5f1 !important;
        text-align: center;
        font-size: 1.75rem;
        span {
          font-weight: 600;
        }
      }
      h3 {
        color: #f6f5f1;
        text-align: center;
        font-size: 2.75rem;
        margin-top: 2.8125rem;
        @include m-queries(768px) {
          font-size: 42px;
          margin-top: 25px;
        }
      }
    }
  }
  #about {
    align-items: center;
    @include m-queries(500px) {
      flex-direction: column-reverse;
      justify-content:center;
    }
    .section__text {
      width: 18.75rem;
      height: 33.125rem;
      padding: 0 2.5rem;
      background-color: #080808;
      border-radius: 1.25rem 0 0 1.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include m-queries(500px) {
        width: 100%;
        height: auto;
        padding: 21px 15px;
        border-radius: 0 0 0.625rem 0.625rem;
        display: block;
      }
      p {
        margin: 1.875rem 0;
        @include m-queries(500px) {
          margin: 0 0 1.5625rem 0;
          font-size: 18px;
        }
      }
      .button {
        button {
          width: 100%;
        }
      }
    }
    .section__image {
      width: calc(100% - 18.75rem);
      height: 33.125rem;
      border-radius: 0 1.25rem 1.25rem 0;
      object-fit: cover;
      @include m-queries(500px) {
        width: 100%;
        border-radius: 0.625rem 0.625rem 0 0;
        height: 50vh;
      }
    }
  }
}
