.layout__main {
  .main__section {
    height: 100vh;
    margin: 0 10.5625rem;
    display: flex;
  }
  #mainProjects {
    flex-direction: column;
    justify-content: center;
    .section__content {
      display: flex;
      justify-content: space-between;
      p {
        width: 25rem;
        font-size: 1.125rem;
        color: #d2d2ff;
      }
      .button {
        button {
          width: 15.9375rem;
        }
      }
    }
  }
}
