.layout__footer {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 10.5625rem;
  .footer__text {
    width: 20rem;
    p {
      margin-top: 1.5625rem;
      font-size: 1.125rem;
      span {
        font-weight: 600;
      }
    }
  }
  .footer__form {
    background-color: #080808;
    width: 35.125rem;
    padding: 1.875rem 2.5rem;
    border-radius: 1.25rem;
  }
}